# {{ ansible_managed }}
[Unit]
Description=Run media mover daily

[Timer]
OnCalendar={{ nas_storage_media_mover_schedule | default('*-*-* 06:00:00') }}
Persistent=true

[Install]
WantedBy=timers.target
