# {{ ansible_managed }}
[Unit]
Description=Daily NAS swap reset

[Timer]
OnCalendar={{ nas_storage_swap_clean_schedule }}
RandomizedDelaySec={{ nas_storage_swap_clean_random_delay }}
Persistent=true

[Install]
WantedBy=timers.target
