# {{ ansible_managed }}
# EnvironmentFile for restic-offsite.service and restic-offsitectl, 0600 root.
# Values are single-quoted; tasks/main.yml rejects quotes and backslashes.
RESTIC_REPOSITORY='{{ restic_offsite_repo }}'
RESTIC_PASSWORD_FILE='{{ restic_offsite_config_dir }}/repo-password'
RCLONE_CONFIG='{{ restic_offsite_config_dir }}/rclone.conf'
RESTIC_CACHE_DIR='{{ restic_offsite_cache_dir }}'
RCLONE_BWLIMIT='{{ restic_offsite_bwlimit }}'
RCLONE_TRANSFERS='{{ restic_offsite_rclone_transfers }}'
GOGC='{{ restic_offsite_gogc }}'
