# {{ ansible_managed }}
[Unit]
Description=Run the Immich database backup nightly

[Timer]
OnCalendar=*-*-* {{ immich_backup_hour }}:{{ immich_backup_minute }}:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
