# {{ ansible_managed }}
# SASL credentials for SMTP relay
# WARNING: This file contains secrets - permissions should be 0600

{{ postfix_null_client_config.relayhost }}    {{ postfix_null_client_sasl_user }}:{{ postfix_null_client_sasl_password }}
