{# Byte-stable: a reword rebuilds boot artifacts on every consumer - see README. #}
# {{ ansible_managed }}
# managed by weisssrv.infra.vfio_passthrough
# Read by `update-grub`; vfio-pci.ids= binds the functions in the initramfs.
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT {{ vfio_passthrough_cmdline_params | join(' ') }} vfio-pci.ids={{ vfio_passthrough_pci_ids | join(',') }}"
