# {{ ansible_managed }}
[Unit]
Description={{ compose_app_description }}
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target
{% if compose_app_requires_mounts_for | length > 0 %}
{% for line in compose_app_requires_mounts_comment %}
# {{ line }}
{% endfor %}
RequiresMountsFor={{ compose_app_requires_mounts_for | join(' ') }}
{% endif %}

[Service]
Type=oneshot
RemainAfterExit={{ compose_app_remain_after_exit | default('yes') }}
WorkingDirectory={{ compose_app_working_directory }}
{% for line in compose_app_reconcile_comment %}
# {{ line }}
{% endfor %}
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecReload=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
