# {{ ansible_managed }}
# SASL credentials for Gmail SMTP relay
# WARNING: This file contains secrets - permissions should be 0600

{{ smtp_relay_config.relayhost }}    {{ smtp_relay_upstream_user }}:{{ smtp_relay_upstream_password }}
